.git
.env
.env.*
**/config/passwords*.yaml
.local
artifacts
**/.dart_tool
**/node_modules
**/build
!apps/gomoku_app/build
apps/gomoku_app/build/*
!apps/gomoku_app/build/web
!apps/gomoku_app/build/web/**
**/ephemeral
**/.gradle
**/Pods
/gomoku
apps/server/web
