# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.jks
*.keystore
playwright-report/
test-results/
.android-*.png
.android-ui.xml
.desktop-*.png
.landscape-*.png
.mobile-*.png
.windows-packaged*.png

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
