global
    maxconn 128
    user haproxy
    group haproxy
defaults
    mode tcp
    timeout connect 5s
    timeout client 2h
    timeout server 2h
frontend tls_entry
    bind @BIND@
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend gomoku_https if { req.ssl_sni -i @DOMAIN@ }
    default_backend original_reality
backend gomoku_https
    server web 127.0.0.1:9443 send-proxy-v2
backend original_reality
    server existing 127.0.0.1:@XRAY_PORT@
