# Dependency directories
node_modules/
jspm_packages/

# Wrangler
.wrangler/
wrangler-local-state/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.dev.vars

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 